# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

#allow one jar
!libs/Java-WebSocket-1.6.0-SNAPSHOT.jar

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#intellij
*.iml
*.idea
/.idea/

#run folder
/run/logs/
/run/crash-reports/